.start_convo_container {
	width: 100% !important;
	height: 10% !important;
	padding-top: .25% !important;
	border: 1px solid #000 !important;
	border-radius: 3px !important;
	overflow: hidden !important;
}
.start_convo_message {
	height: 60% !important;
	padding-top: .5% !important;
	padding-left: .5% !important;
	padding-right: .5% !important;
	padding-bottom: .5% !important;
	width: 100% !important;
	overflow: hidden !important;
	resize: none !important;
	font-size: 15px !important;
}
.start_convo_send_btn {
	margin-left: 3px !important;
	float: left !important;
	border: 1px solid #000 !important;
	overflow: hidden !important;
	font-size: 15px !important;
}
.start_convo_cancel_btn {
	margin-right: 3px !important;
	float: right !important;
	border: 1px solid #000 !important;
	overflow: hidden !important;
	font-size: 15px !important;
}